{% extends "base.html" %}


{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include "measures/sidebar.html" %}
        </div>
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}



{% block main_script %}
<script>
    var tab = "{{ tab }}"
    $(function() {
        $("select[name='period']").val("{{ period }}");
        $(".sidebar ul>li.active").removeClass("active");
        $("#" + tab).addClass("active");
    })
</script>

{% block script %}
{% endblock %}

{% endblock %}
