{% extends "base.html" %}


{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% include "measures/sidebar.html" %}
        </div>
        <div class="col-md-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}



{% block main_script %}
<script src="/static/measures/js/render_charts.js" charset="utf-8"></script>
<script src="/static/measures/js/utils.js" charset="utf-8"></script>
<script>
    var parsley_rules = {
        'data-parsley-required': "true",
        'data-parsley-required-message':"Este campo é obrigatório",
    }
    var tab = "{{ tab }}"

    $(function() {
        $("select[name='period']").val("{{ period }}");
        $(".sidebar ul>li.active").removeClass("active");
        $("#" + tab).addClass("active");
        $("#periodInterval input").attr(parsley_rules);
    })
</script>

{% block script %}
{% endblock %}

{% endblock %}
