{% extends "base.html" %}

{% block main_content %}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <form class="content-box" action="{{ request.path }}?return_path={{ return_path }}" method="post">{% csrf_token %}
            <h2 class="content-box-header">Editar Medição</h2>
            <div class="content-box-body">
                <div class="row">
                    <!-- Measure Type -->
                    <div class="form-group col-md-6">
                        <div class="input-group fill-parent">
                            {{ form.measure_type.label_tag }}
                            {{ form.measure_type }}
                        </div>
                        {{ form.measure_type.errors }}
                    </div>
                    <!-- Value -->
                    <div class="form-group col-md-6">
                        <div class="input-group fill-parent">
                            {{ form.value.label_tag }}
                            {{ form.value }}
                        </div>
                        {{ form.value.errors }}
                    </div>
                </div>
                <!-- Datetime -->
                <div class="form-group">
                    {{ form.datetime.label_tag }}
                    <div id="datetime_picker" class="input-group datetimepicker">
                        {{ form.datetime }}
                        <span class="input-group-addon pointer">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    {{ form.datetime.errors }}
                </div>

                <!-- Notes -->
                <div class="form-group">
                    <div class="input-group fill-parent">
                        {{ form.notes.label_tag }}
                        {{ form.notes }}
                    </div>
                    {{ form.notes.errors }}
                </div>
                <!-- User (hidden) -->
                <input type="hidden" name="user" value="{{ request.user.id }}">

            </div>
            <div class="content-box-footer t-right">
                <a href="{{ return_path }}"class="btn btn-default" type="submit">Voltar</a>
                <button class="btn btn-danger" type="submit">Editar</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
