{% extends "measures/base.html"  %}

{% block head %}
<style media="screen">
    #pie_chart {
        min-width: 310px;
        height: 316.007px;
        max-width: 600px;
        margin: 0 auto;
    }
    #line_chart {
        min-width: 310px;
        height: 380px;
        margin: 0 auto
    }
</style>
{% endblock %}


{% block main_content %}
<form class="form-box" action="." method="post">{% csrf_token %}
    <h4 class="form-box-title">Como está o seu nível de glicose no momento?</h4>
    <div class="form-box-content">
        <div class="row">
            <div class="col-xs-7 col-sm-9 col-md-9">
                <div class="form-group">
                    <div class="input-group">
                        {{ form.value }}
                        <span class="input-group-addon">mg/dL</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-sm-3 col-md-3">
                <div class="form-group">
                    <div class="input-group  fill-parent">
                        {{ form.measure_type }}
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="datetime">
        <input type="hidden" name="user" value="{{ request.user.id }}">
    </div>
</form>
<div class="row">
    <!-- Last Measures -->
    <div class="col-md-6">
        <div class="content-box">
            <h4 class="content-box-header">Minhas últimas medições</h4>
            <div class="content-box-body no-padding">
                <div class="list-group">
                    {% for instance in last %}
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ instance.value }} mg/dL</h4>
                        <div class="list-group-item-text">{{ instance.datetime | timesince }} atrás</div>
                    </a>
                    {% empty %}
                    <div class="list-group-item">
                        Nenhuma medida encontrada.
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box-footer">
                <a type="button" href="/measures/list" class="btn btn-danger fill-parent">Ver todas</a>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-md-6">
        <div class="content-box">
            <h4 class="content-box-header"> Distribuição dos registros de glicose no sangue</h4>
            <div class="content-box-body">
                <div id="pie_chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- Area Chart -->
<div class="content-box">
    <div class="content-box-header">
        <h4>Nivel de glicose no sangue durante o período</h4>
    </div>
    <div class="content-box-body">
        <div id="line_chart"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/measures/js/highcharts_theme.js" charset="utf-8"></script>
<script src="/static/measures/js/render_charts.js" charset="utf-8"></script>
<script type="text/javascript">
    var overlay = {
        data  : {{ overlay.data   | safe }},
        labels: {{ overlay.labels | safe }},
    }

    var distribution = {
        hypo: {{ distribution.hypo }},
        norm: {{ distribution.norm }},
        pre : {{ distribution.pre  }},
        high: {{ distribution.high }},
    }


    $(document).ready(function () {
        // Append current datetime before form submit
        $("form").submit(function () {
            $("[name='datetime']").val(moment().format("DD/MM/YYYY HH:mm"));
            return true;
        });
        // Init parsley validation behavior
        $("form").parsley({
            errorClass: 'has-error',
            classHandler: function (el) {
                return el.$element.closest('.form-group');
            },
            errorsContainer: function(el) {
                return el.$element.closest('.form-group');
            },
            errorsWrapper: "<span class='help-block'></span>",
            errorTemplate: "<span></span>",
        });
        // Render charts
        renderPieChart(distribution);
        renderLineChart(overlay.data, overlay.labels);
    })
</script>
{% endblock %}
