{% extends "measures/base.html"  %}

{% block head %}
<style media="screen">
    #pie_chart {
        min-width: 310px;
        height: 316.007px;
        max-width: 600px;
        margin: 0 auto;
    }
    #line_chart {
        min-width: 310px;
        height: 300px;
        margin: 0 auto
    }
</style>
{% endblock %}


{% block main_content %}
<form class="form-box" action="." method="post">{% csrf_token %}
    <div class="form-box-content">
        <div class="form-group no-margin">
            <div class="input-group">
                {{ form.value }}
                <span class="input-group-addon">mg/dL</span>
            </div>
        </div>

        <input type="hidden" name="datetime">
        <input type="hidden" name="user" value="{{ request.user.id }}">
    </div>
</form>
<div class="row">
    <!-- Last Measures -->
    <div class="col-md-6">
        <div class="content-box">
            <h4 class="content-box-header">Minhas últimas medições</h4>
            <div class="content-box-body no-padding">
                <div class="list-group">
                    {% for instance in queryset %}
                    <a href="" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ instance.value }} mg/dL</h4>
                        <div class="list-group-item-text">{{ instance.datetime | timesince }} atrás</div>
                    </a>
                    {% empty %}
                    <div class="list-group-item">
                        Nenhuma medida encontrada.
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="content-box-footer">
                <a type="button" href="/measures/list" class="btn btn-danger fill-parent">Ver todas</a>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-md-6">
        <div class="content-box">
            <h4 class="content-box-header">Classificação das medidas segundo os valores de referência da diabetes</h4>
            <div class="content-box-body">
                <div id="pie_chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="content-box-header">
        <h4>Histórico de medições</h4>
    </div>
    <div class="content-box-body">
        <div id="line_chart"></div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="/static/measures/js/render_charts.js" charset="utf-8"></script>
<script type="text/javascript">
    var values_list = {{ values_list }}
    var measures_stats = {
        hypoglycemia: {{ measures_stats.hypoglycemia }},
        normal      : {{ measures_stats.normal }},
        pre_diabetes: {{ measures_stats.pre_diabetes }},
        diabetes    : {{ measures_stats.diabetes }},
    }


    $(document).ready(function () {
        // Add placeholder to value field
        $("#id_value").attr("placeholder", "Como está o seu nível de glicemia agora ?");
        // Append current datetime before form submit
        $("form").submit(function () {
            $("[name='datetime']").val(moment().format("DD/MM/YYYY HH:mm"));
            return true;
        });
        // Init parsley validation behavior
        $("form").parsley({
            errorClass: 'has-error',
            classHandler: function (el) {
                return el.$element.closest('.form-group');
            },
            errorsContainer: function(el) {
                return el.$element.closest('.form-group');
            },
            errorsWrapper: "<span class='help-block'></span>",
            errorTemplate: "<span></span>",
        });
        // Render charts
        renderPieChart(measures_stats);
        renderLineChart(values_list);
    })
</script>
{% endblock %}
