{% extends "measures/base.html" %}
{% load bootstrap_pagination %}

{% block main_content %}

{% include "measures/modal/delete_alert.html" %}

<div class="content-box">
    <div class="content-box-header">
        <div class="row">
            <div class="col-xs-8 col-md-8">
                <h2>Minhas Medições</h2>
            </div>
            <div class="col-xs-4 col-md-4 t-right">
                <a href="/measures/export_pdf" class="btn btn-danger">Gerar PDF</a>
            </div>
        </div>
    </div>

    <div class="content-box-body no-padding">
        <div class="list-group">
            {% for instance in queryset %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ instance.value }} mg/dL</h4>
                        <div class="list-group-item-text">{{ instance.datetime | date }}</div>
                        <div class="list-group-item-text">{{ instance.datetime | time }}</div>
                        <span class="label label-{{ instance.measure_type | lower }}">{{ instance.get_measure_type_display }}</span>
                    </div>
                    <div class="col-md-5">
                        <div class="dropdown f-right">
                            <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Ações
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a href="/measures/edit/{{ instance.id }}?return_path={{ request.get_full_path }}"><i class="glyphicon glyphicon-pencil" style="margin-right: 10px"></i> EDITAR</a></li>
                                <li><a href="#" onclick="displayDeleteAlert({{ instance.id }})"><i class="glyphicon glyphicon-trash"  style="margin-right: 10px"></i> EXCLUIR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="content-box-footer">
        {% if queryset.paginator.num_pages > 1 %}
        <div class="text-center">
            {% bootstrap_paginate queryset %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}



{% block script %}
<script type="text/javascript">
function displayDeleteAlert (id) {
    $('#alertModal a:last-child').attr('href', '/measures/delete/' + id + '?return_path=' + window.location.pathname + window.location.search);
    $('#alertModal').modal();
}
</script>
{% endblock %}
