<form class="form-box" action="{{ request.path }}" method="get">
    <h4 class="form-box-title">Filtros</h4>
    <div class="form-box-content">
        <div class="form-group">
            <div class="input-group input-group-sm fill-parent">
                <select class="form-control" name="period" onchange="displayPeriodInterval()">
                    <option value="30">Último mês</option>
                    <option value="60">Últimos 2 meses</option>
                    <option value="all">Desde o começo</option>
                    <option value="custom">Especificar período</option>
                </select>
            </div>
        </div>
        <div id="periodInterval" class="row" style="display:none">
            <div class="form-group col-md-12 col-sm-6">
                <div class='input-group input-group-sm fill-parent date datetimepicker_linked'>
                    <input type='text' name="period_begin" class="form-control" placeholder="INÍCIO"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-6">
                <div class='input-group input-group-sm fill-parent date datetimepicker_linked'>
                    <input type='text' name="period_end" class="form-control" placeholder="FIM"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box-actions t-right">
        <button type="submit" class="btn btn-danger">Filtrar</button>
    </div>
</form>


<div class="sidebar">
    <div>
        <ul class="nav nav-sidebar">
            <li id="home" class="active"><a href="/measures/?period={{ period }}">Principal</a></li>
            <li id="list"><a href="/measures/list?period={{ period }}">Minhas medições</a></li>
        </ul>
    </div>
</div>
