<form class="form-box" action="{{ request.path }}" method="get">
    <h4 class="form-box-title">Filtros</h4>
    <div class="form-box-content">
        <div class="form-group">
            <div class="input-group input-group-sm fill-parent">
                <select class="form-control" name="period" onchange="displayPeriodInterval()">
                    <option value="today"  {% if period == 'today' %}selected{% endif %}>Hoje</option>
                    <option value="30"     {% if period == '30' %}selected{% endif %}>Último mês</option>
                    <option value="60"     {% if period == '60' %}selected{% endif %}>Últimos 2 meses</option>
                    <option value="all"    {% if period == 'all' %}selected{% endif %}>Desde o começo</option>
                    <option value="custom" {% if period == 'custom' %}selected{% endif %}>Especificar período</option>
                </select>
            </div>
        </div>
        <div id="periodInterval" class="dp-linked row" style="{% if period != 'custom' %} display:none {% endif %}">
            <div class="form-group col-md-12 col-sm-6">
                <div class='input-group input-group-sm fill-parent date dp'>
                    <input type='text' name="period_begin" class="form-control" placeholder="INÍCIO" data-date-format='DD/MM/YYYY' value="{{ period_begin }}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-6">
                <div class='input-group input-group-sm fill-parent date dp'>
                    <input type='text' name="period_end" class="form-control" placeholder="FIM" data-date-format='DD/MM/YYYY' value="{{ period_end }}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-box-actions t-right">
        <button type="submit" class="btn btn-danger">Filtrar</button>
    </div>
</form>


<div class="sidebar">
    <div>
        <ul id="menu" class="nav nav-sidebar">
            <li id="home" {% if tab == 'home' %}class="active"{% endif %}><a href="/measures/">Principal</a></li>
            <li id="list" {% if tab == 'list' %}class="active"{% endif %}><a href="/measures/list">Minhas medições</a></li>
        </ul>
    </div>
</div>
