body {
    font-family: Quicksand;
    background: #e9ebee;
}

/* Form Box */
.form-box {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.form-box-title {
    border-color: #d9534f;
    border-width: 3px 0 0;
    border-style: solid solid none;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.form-box-content {
    border-radius: 3px;
    font-size: 12px;
    padding: 25px;
}
.form-box-actions {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.form-box.form-inline.right {
    text-align: right;
}


/* Content Box */
.content-box {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.content-box-header {
    border-color: #d9534f;
    border-width: 3px 0 0;
    border-style: solid solid none;
    padding: 15px;
}
.content-box-header h1, h2, h3, h4, h5 {
    margin: 0;
}
.content-box-help {
    line-height: 39px;

}
.content-box-help a:hover,
.content-box-help a:focus {
    cursor: pointer;
    color: rgb(201,48,44);
}
.content-box-body {
    border-radius: 3px;
    font-size: 12px;
    padding: 15px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.content-box-actions.right {
    text-align: right;
    line-height: 40px;
}
.content-box-footer {
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}

/* Sidebar */
.sidebar {
    margin-top: 25px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.sidebar ul>li>a {
    text-transform: uppercase;
    color: #d9534f;
}
.sidebar ul>li.active>a {
    background-color: #d9534f;
    color: #fff;
}

.sidebar ul>li.active>a:hover,
.sidebar ul>li.active>a:focus {
    background-color: #d9534f;
    color: #fff;
}

.sidebar ul>li>a:hover,
.sidebar ul>li>a:focus {
    background-color: #f5f5f5;
    color: #d9534f;
}


/* Remove padding and margin of Bootstrap components */
.no-padding {
   padding: 0;
}
.no-margin {
    margin: 0;
}

/* Full width components */
.fill-parent {
    width: 100%;
}

/* Text aligns */
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}

/* Floats */
.f-right {
    float: right;
}
.f-left {
    float: left;
}

/* Display pointer */
.pointer {
    cursor: pointer;
}

/* Measures types tags*/
.label.label-fst,
.label.label-afm {
    text-transform: uppercase;
}
.label.label-afm {
    background-color: #f0ad4e
}
.label.label-fst {
    background-color: #5bc0de;
}

/* Login button */
.btn-login {
    color: #fff;
    background-color: #de7d7a;
    border-color: #de7d7a;
}
.btn-login:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c9302c;
}
