{% extends "base.html" %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <form action="/signup/" method="post"> {% csrf_token %}
                <h1>Cadastre-se</h1>
                <h4 style="margin-bottom:25px">É totalmente gratuito</h4>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6">
                        {{ form.first_name }}
                    </div>
                    <div class="form-group col-sm-6 col-md-6">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6">
                        {{ form.password1 }}
                    </div>
                    <div class="form-group col-sm-6 col-md-6">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="row">
                    <p style="font-size:12px" class="col-sm-8 col-md-8">Ao clicar em Cadastrar-se, você concorda com os nossos Termos e que leu a nossa Política de Dados, incluindo o nosso Uso de Cookies.</p>
                </div>
                <div class="t-left">
                    <button class="btn btn-danger" type="submit">Cadastrar-se</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
