{% load inlinecss %}
{% inlinecss "css/fonts.css" %}
{% inlinecss "css/master.css" %}
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="content-box">
            <h1 class="content-box-header no-margin">GlucoseMonitor</h1>
            <div class="content-box-body">
                <p>Uma mensagem de {{ topic | upper }} foi enviada por {{ sender.first_name }}.</p>
                <fieldset>
                    <legend>Mensagem:</legend>
                    <p>{{ message | linebreaksbr }}</p>
                </fieldset>
            </div>
        </div>
    </body>
</html>
{% endinlinecss %}
{% endinlinecss %}
