{% load inlinecss %}
{% inlinecss "css/fonts.css" %}
{% inlinecss "css/master.css" %}
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="content-box">
            <h1 class="content-box-header no-margin">GlucoseMonitor</h1>
            <div class="content-box-body">
                <p>Uma mensagem com o tópico {{ topic | upper }} foi enviada por {{ sender }}.</p>
                <h3>{{ title }}</h3>
                <p>{{ message | linebreaksbr }}</p>
            </div>
        </div>
    </body>
</html>
{% endinlinecss %}
{% endinlinecss %}
