body {
    font-family: Quicksand;
    background: #e9ebee;
}

/* Form Box */
.form-box {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.form-box-title {
    border-color: #d9534f;
    border-width: 3px 0 0;
    border-style: solid solid none;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.form-box-content {
    border-radius: 3px;
    font-size: 12px;
    padding: 25px;
}
.form-box-actions {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.form-box.form-inline.right {
    text-align: right;
}


/* Content Box */
.content-box {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.content-box-header {
    border-color: #d9534f;
    border-width: 3px 0 0;
    border-style: solid solid none;
    padding: 15px;
}
.content-box-header h1, h2, h3, h4, h5 {
    margin: 0;
}
.content-box-help {
    line-height: 39px;

}
.content-box-help a {
    color: #d9534f;
    text-align: right;
}
.content-box-help a:hover,
.content-box-help a:focus {
    cursor: pointer;
    color: rgb(201,48,44);
}
.content-box-body {
    border-radius: 3px;
    font-size: 12px;
    padding: 15px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.content-box-actions.right {
    text-align: right;
    line-height: 40px;
}
.content-box-footer {
    padding: 15px;
}

/* Remove padding and margin of Bootstrap components */
.no-padding {
   padding: 0;
}
.no-margin {
    margin: 0;
}

/* Full width components */
.fill-parent {
    width: 100%;
}
